/* Soluzione qui */

/* Large Mobile */

@media screen and (min-width: 576px) {
  .presentation img {
    float: left;
    margin-right: 15px;
  }

  .social-networks .button {
    width: calc(100% / 5);
  }
}


/* Tablet */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  .main {
    padding: 50px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-title {
    font-size: 30px;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .quick-notes li {
    width: calc(100% / 3 - 10px);
  }

  .social-networks .button {
    width: calc(100% / 5);
  }

  .ads {
    display: block;
  }

  .presentation img {
    float: left;
    margin-right: 15px;
  }

}

/* Desktop */

@media screen and (min-width: 992px) {
  .quick-notes ul {
    display: block;
  }

  .quick-notes li {
    width: 100%;
  }

  .recipe-title {
    font-size: 30px;
  }

  .recipe-card {
    display: flex;
    width: 100%;
  }

  .recipe-video {
    width: 70%;
    max-height: 420px;
  }

  .recipe-info {
    width: 30%;
  }

  .social-networks .label {
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  address {
    text-align: left;
  }
}