/* Soluzione qui */

/* Modalità Large Mobile (576px)

l'immagine nella descrizione della ricetta viene circondata dal testo anche su mobile ma solo se c'è spazio sufficiente, quindi a partire da 576px,
I bottoni social si allagano già su dispositivi mobile più grandetti (576px) */

/* Large Mobile */



/* Modalità Tablet (sopra i 768px)

-La grandezza del titolo diventa più grande


/* Tablet */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  .container {
    padding: 30px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-name {
    font-size: 1.7rem;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .quick-notes li {
    width: calc(100% / 3 - 10px);
  }

  .social-networks .btn {
    width: calc(100% / 5);
  }

  .ads {
    display: block;
  }

  .clearfix img {
    float: left;
    margin-right: 15px;
  }

}

/* Modalità Desktop(sopra i 992px)

-La grandezza e il titolo della ricetta aumentano ancora di più

/* Desktop */

@media screen and (min-width: 992px) {
  .quick-notes ul {
    display: block;
  }

  .quick-notes li {
    width: 100%;
  }

  .recipe-name {
    font-size: 2rem;
  }

  .recipe-card {
    display: flex;
    width: 100%;
  }

  .recipe-video {
    width: 70%;
  }

  .recipe-info {
    width: 30%;
  }

  .social-networks .label {
    display: inline-block;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  address {
    text-align: left;
  }


}